@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 45, 74, 58;
  --background-end-rgb: 45, 74, 58;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.rosca-bg {
  background-color: #2d4a3a;
}

.rosca-green {
  background-color: #7ed321;
}

.rosca-green-text {
  color: #7ed321;
}

.rosca-card {
  background-color: #1a2e22;
}
